<!DOCTYPE html>
<html lang="en">
<head>
  <title>Express Developer Skills</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Express Developer Skills</h1>
  <nav>
    <a href="/skills">Skills</a>
  </nav>